/***************GENERAL STYLING*******************/

html {
  font-size: 16px;
  font-family: 'Poiret One', cursive;
}

body {
  background-image: url('../ivy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#photo {
  max-height: 100%;
  max-width: 100%;
  z-index: 0;
}

/***************CANVAS STYLING*******************/

.container {
  background-color: white;
  opacity: .9;
  border-radius: 5px;
  z-index: 10;
  width: 70%;
  height: 60%;
  margin-top: 5rem;
  padding-top: .5rem;
}

div.canvas {
  border-radius: 4px;
  margin: 1rem;
}

.box-shadow {
  box-shadow: 8px 8px 6px -6px black;
}

/***************PALETTE STYLING*******************/

.palette {
  margin: 2rem auto;
  justify-content: center;
}

.palette div {
  max-width: 10x;
  border-radius: 10rem;
  color: white;
  height: 1rem;
  padding: 1rem;
  margin: 1rem;
  border: 3px solid lightgrey;
  transition: .25s;
  opacity: .75
}

.palette div:hover {
  cursor: pointer;
  opacity: 1;
  border-color: white;
  transform: translateY(-5px);
}

.dark-blue {
  background-color: #69D2E7;
}

.light-blue {
  background-color: #A7DBD8;
}

.white {
  background-color: white;
}

.light-orange {
  background-color: #F38630;
}

.dark-orange {
  background-color: #FA6900;
}

/***************PIXEL STYLING*******************/

.pixel {
  height: 10px;
  width: 10px;
  border: 1px solid lightgrey;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

#clear-button {
  background-color: white;
  color: black;
  border-radius: 3px;
  border: 2px solid grey;
  height: 3rem;
  margin: 0.7rem 0 0 2rem;
  opacity: .7;
  transition: .25s;
}

#clear-button:hover {
  cursor: pointer;
  border: 2px solid white;
  opacity: 1;
  transform: translateY(-5px);
}

#clear-button:focus {
  outline: none;
}
