html{
  font-size: 16px;
  font-family: 'Poiret One', cursive;
}

body {
  background-image: 
}

div.canvas{
  border-radius: 4px;
  border: 2px solid grey;
  margin-top: 3rem;
}

.col-lg-6{
  border: 1px solid black;
}

.red {
  background-color: tomato;
  color: white;
  border-color: white;
}

.palette {
  margin-top: 3rem;
}

.palette div {
  height: 20px;
  width: 20px;
  border-radius: 10rem;
  color: white;
  text-align: center;
  padding: 3rem;
  margin:auto;
  border: 3px solid lightgrey;
}
.dark-blue{
  background-color: #69D2E7;
}
.light-blue{
  background-color: #A7DBD8;
}
.white{
  background-color: white;
}
.light-orange{
  background-color: #F38630;
}
.dark-orange{
  background-color: #FA6900;
}

.flex-box {
  flex-wrap: wrap;
}

.pixel {
  height: 10px;
  width: 10px;
  border: 1px solid white;
}
