html{
  font-size: 16px;
  font-family: 'Poiret One', cursive;
}

#photo {
  max-height: 100%;
  max-width: 100%;
  z-index: 0;
}
.container {
  background-color: white;
  opacity: .9;
  border-radius: 5px;
  z-index: 10;
  width: 70%;
  height: 60%;
   position: absolute;
  top: 3rem;
  left: 12rem;
}

div.canvas{
  border-radius: 4px;
  margin: 1rem;

}

.col-lg-6{
  border: 1px solid black;
}

.red {
  background-color: tomato;
  color: white;
  border-color: white;
}

.palette {
  position: absolute;
  top: 38rem;
  left: 35rem;
}

.palette div {
  max-width: 10x;
  border-radius: 10rem;
  color: white;
  padding: 1rem;
  margin:auto;
  border: 3px solid lightgrey;
  transition: .25s;
  opacity: .75
}

.palette div:hover{
  cursor: pointer;
  opacity: 1;
  border-color: white;
  transform: translateY(-5px);
}

.dark-blue{
  background-color: #69D2E7;
}
.light-blue{
  background-color: #A7DBD8;
}
.white{
  background-color: white;
}
.light-orange{
  background-color: #F38630;
}
.dark-orange{
  background-color: #FA6900;
}

.flex-box {
  flex-wrap: wrap;
}

.pixel {
  height:10px;
  width: 10px;
  border: 1px solid lightgrey;
}

.box-shadow {
 box-shadow: 8px 8px 6px -6px black;
}
